
@{
    Layout = null;

}

<div class="row">
    <div class="col-lg-4">
        <label for="SelectDateRange">Select date</label>
        <div class="input-group mb-3">
            <input aria-describedby="date" aria-label="date" class="form-control" id="StartDate" placeholder="DD/MM/YY" type="text">
            <div class="input-group-append">
                <button class="btn btn-outline-blue" type="button"><i class="fas fa-calendar-alt"></i></button>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
    
    </div>
</div>