@model  Paw.Services.Messages.Web.Reservations.AddReservation
@{
    ViewBag.Title = "Reservation";

    Guid? providerId = (Guid?)this.ViewData["__ProviderId"];
    Guid? providerGroupId = (Guid?)this.ViewData["__ProviderGroupId"];
}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Discounts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputQty">Qty</label> <input class="form-control mr-sm-2" id="inlineFormInputQty" type="text" value="2">
                    </div>
                    <div class="col-auto">
                        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Service</label> <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>
                                Choose...
                            </option>
                            <option value="1">
                                Luxury
                            </option>
                            <option value="2">
                                Standard
                            </option>
                            <option value="3">
                                Three
                            </option>
                        </select>
                    </div>
                    <div class="col-auto">
                        by
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputDiscount">Discount</label> <input class="form-control mr-sm-2" id="inlineFormInputDiscount" type="text" value="10">
                    </div>
                    <div class="col-auto">
                        <div class="btn-group">
                            <button class="btn btn-outline-blue2" type="button">%</button> <button class="btn btn-outline-blue2" type="button">$</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!--models-end-->
<div class="container py-md-5">
    <div class="accordion" id="accordionBooking">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0"><button aria-controls="collapseOne" aria-expanded="true" class="btn accordian-header select-pet collapsed" data-target="#collapseOne" data-toggle="collapse" type="button">Show pet info</button></h2>
            </div>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionBooking" id="collapseOne">
                <div class="card-body background-grey">
                    <div class="row">
                        <!-- pet card -->

                        @Html.Action("_PetCard", new { ProviderGroupId = providerGroupId, Id = this.Model.PetId.FirstOrDefault() })

                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0"><button aria-controls="collapseTwo" aria-expanded="false" class="btn accordian-header collapsed" data-target="#collapseTwo" data-toggle="collapse" type="button">Appointment type and date</button></h2>
            </div>
            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionBooking" id="collapseTwo">
                <div class="card-body background-grey">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="SelectCategoryMenuButton">Select service</label>

                                <!-- SelectService -->

                                @Html.EditorFor(x => this.Model.PrimarySkuId, "PrimarySku")

                                <!-- /SelectService -->

                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div id="ScheduleContainer" class="col-lg-12">


                        </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0"><button aria-controls="collapseThree" aria-expanded="false" class="btn accordian-header collapsed" data-target="#collapseThree" data-toggle="collapse" type="button">Services and extras</button></h2>
            </div>
            <div aria-labelledby="headingThree" class="collapse" data-parent="#accordionBooking" id="collapseThree">
                <div class="card-body background-grey">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card schedule-cards">
                                <div class="card-header schedule">
                                    <img alt="Image of Horatio" class="schedule-img-top mr-3" src="/content/images/default.jpg"><span class="left">Horatio</span><span class="right">Day care</span>
                                </div>
                                <div class="card-body p-0">
                                    <div class="p-35">
                                        <div class="dropdown mb-3">
                                            <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" type="button">Select a service</button>
                                            <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="schedule-dividers">
                                        <div class="schedule-header grey">
                                            <span class="left">Services and extras</span>
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><span class="left">Puppy package</span><span class="right"><i class="fas fa-calendar-alt text-secondary mr-3 fs125"></i><i class="fas fa-times-circle text-red white-circle fs125"></i></span></li>
                                        <li class="list-group-item"><span class="left">Puppy package</span><span class="right"><i class="fas fa-calendar-alt text-secondary mr-3 fs125"></i><i class="fas fa-times-circle text-red white-circle fs125"></i></span></li>
                                        <li class="list-group-item"><span class="left">Puppy package</span><span class="right"><i class="fas fa-calendar-alt text-secondary mr-3 fs125"></i><i class="fas fa-times-circle text-red white-circle fs125"></i></span></li>
                                    </ul>
                                    <div class="schedule-dividers">
                                        <div class="schedule-header">
                                            <span class="left">Puppy package</span><span class="right"><i class="fas fa-times-circle text-red white-circle mr-05"></i></span>
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><span class="left">Treat</span><span class="right"><i class="fas fa-calendar-alt text-secondary mr-45 fs125"></i></span></li>
                                    </ul>
                                    <div class="p-35">
                                        <div class="btn-group mb-3">
                                            <button class="btn btn-outline-primary" type="button">Copy to all pets</button> <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" type="button"><span class="sr-only">Copy to all pets</span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">

                            <div class="row">
                                <div class="col-lg-12 text-center"><h3>Client's appointment</h3></div>

                            </div><div class="card-deck booking">
                                <div class="card days">
                                    <div class="card-body">
                                        Sunday
                                    </div>
                                </div>
                                <div class="card days">
                                    <div class="card-body">
                                        Monday
                                    </div>
                                </div>
                                <div class="card days">
                                    <div class="card-body">
                                        Tuesday
                                    </div>
                                </div>
                                <div class="card days">
                                    <div class="card-body">
                                        Wednesday
                                    </div>
                                </div>
                                <div class="card days">
                                    <div class="card-body">
                                        Thursday
                                    </div>
                                </div>
                                <div class="card days">
                                    <div class="card-body">
                                        Friday
                                    </div>
                                </div>
                                <div class="card days">
                                    <div class="card-body">
                                        Saturday
                                    </div>
                                </div>
                            </div>
                            <div class="card-deck booking">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Dec 30,2018</h5>
                                        <p class="card-text">Teseo: boarding</p>
                                        <p class="card-text"><small class="calendar-tag">1 item booked</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Dec 31,2018</h5>
                                        <p class="card-text">Teseo: boarding</p>
                                        <p class="card-text"><small class="calendar-tag">1 item booked</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Jan 1,2019</h5>
                                        <p class="card-text">Teseo: boarding</p>
                                        <p class="card-text"><small class="calendar-tag">1 item booked</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Jan 2,2019</h5>
                                        <p class="card-text">Teseo: boarding</p>
                                        <p class="card-text"><small class="calendar-tag">1 item booked</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Jan 3,2019</h5>
                                        <p class="card-text">Teseo: boarding</p>
                                        <p class="card-text"><small class="calendar-tag">1 item booked</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Jan 4,2019</h5>
                                        <p class="card-text">Teseo: boarding</p>
                                        <p class="card-text"><small class="calendar-tag">1 item booked</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Jan 5,2019</h5>
                                        <p class="card-text">Teseo: boarding</p>
                                        <p class="card-text"><small class="calendar-tag">1 item booked</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-deck booking">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Jan 6,2019</h5>
                                        <p class="card-text">Teseo: boarding</p>
                                        <p class="card-text"><small class="calendar-tag">1 item booked</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Jan 7,2019</h5>
                                        <p class="card-text">Teseo: boarding</p>
                                        <p class="card-text"><small class="calendar-tag">1 item booked</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Jan 8,2019</h5>
                                        <p class="card-text">Teseo: boarding</p>
                                        <p class="card-text"><small class="calendar-tag">1 item booked</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Jan 9,2019</h5>
                                        <p class="card-text">Teseo: boarding</p>
                                        <p class="card-text"><small class="calendar-tag">1 item booked</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Jan 10,2019</h5>
                                        <p class="card-text">Teseo: boarding</p>
                                        <p class="card-text"><small class="calendar-tag">1 item booked</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Jan 11,2019</h5>
                                        <p class="card-text">Teseo: boarding</p>
                                        <p class="card-text"><small class="calendar-tag">1 item booked</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Jan 12,2019</h5>
                                        <p class="card-text">Teseo: boarding</p>
                                        <p class="card-text"><small class="calendar-tag">1 item booked</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    <!-- Retail 

        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0"><button aria-controls="collapseFour" aria-expanded="false" class="btn accordian-header collapsed" data-target="#collapseFour" data-toggle="collapse" type="button">Retail items</button></h2>
            </div>
            <div aria-labelledby="headingFour" class="collapse" data-parent="#accordionBooking" id="collapseFour">
                <div class="card-body background-grey">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="search-catalog">Search catalog</label>
                            <div class="input-group mb-3">
                                <div class="autocomplete-wrapper">
                                    <select class="custom-select" id="search-catalog" name="search-catalog">
                                        <option value="Pink">Pink Kong</option>
                                        <option value="Red">Red Kong</option>
                                        <option value="Chew">Chew Toy</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label for="select-category">or select category</label>
                            <div class="dropdown mb-3">
                                <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="select-category" type="button">Select category</button>
                                <div aria-labelledby="select-category" class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-lg btn-outline-primary mb-3 mt20" type="button">View all products</button>
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-lg btn-outline-primary mb-3 mt20" type="button">Scan barcode</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card products mb-3">
                                        <img alt="Product Name" class="card-img-top" src="./pink-toy.jpg">
                                        <div class="card-body">
                                            <h5 class="card-title">Product Name</h5>
                                            <p class="card-text">$24.99</p><a class="btn btn-outline-primary w100" href="#">Add</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card products mb-3">
                                        <img alt="Product Name" class="card-img-top" src="./pink-toy.jpg">
                                        <div class="card-body">
                                            <h5 class="card-title">Product Name</h5>
                                            <p class="card-text">$24.99</p><a class="btn btn-outline-primary w100" href="#">Add</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card products mb-3">
                                        <img alt="Product Name" class="card-img-top" src="./pink-toy.jpg">
                                        <div class="card-body">
                                            <h5 class="card-title">Product Name</h5>
                                            <p class="card-text">$24.99</p><a class="btn btn-outline-primary w100" href="#">Add</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card products mb-3">
                                        <img alt="Product Name" class="card-img-top" src="./pink-toy.jpg">
                                        <div class="card-body">
                                            <h5 class="card-title">Product Name</h5>
                                            <p class="card-text">$24.99</p><a class="btn btn-outline-primary w100" href="#">Add</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card inner-cards">
                                <div class="card-body">
                                    <h5 class="card-title">Sales suggestions</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     /Retail -->

        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0"><button aria-controls="collapseFive" aria-expanded="false" class="btn accordian-header collapsed" data-target="#collapseFive" data-toggle="collapse" type="button">Invoice and payment</button></h2>
            </div>
            <div aria-labelledby="headingFive" class="collapse" data-parent="#accordionBooking" id="collapseFive">
                <div class="card-body background-grey">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card inner-cards mb-3 sales">
                                <div class="card-body">

                                    <table class="table table-borderless invoice" role="presentation">

                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col">Qty</th>
                                                <th scope="col">Unit price</th>
                                                <th scope="col">Sub total</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr><td colspan="7"><h3>Boarding</h3></td></tr>
                                            <tr>
                                                <td>Boarding per night</td>
                                                <td></td>
                                                <td>4</td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="UnitPriceFormControlInput">Unit price</label> <input class="form-control" id="UnitPriceFormControlInput" type="text" value="$65.00">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="SubTotalFormControlInput">Unit price</label> <input class="form-control" id="SubTotalFormControlInput" type="text" value="$260.00">
                                                    </div>
                                                </td>
                                                <td class="table-icons"><i class="fas fa-2x fa-cut text-secondary"></i><i class="fas fa-2x fa-money-bill-alt text-secondary"></i></td>
                                                <td class="table-icons"><i class="fas fa-2x fa-edit text-secondary mr-3"></i><i class="fas fa-2x fa-times-circle text-red"></i></td>
                                            </tr>
                                            <tr>
                                                <td>Late check out</td>
                                                <td><button class="btn btn-outline-blue btn-sm" type="button">Waive</button></td>
                                                <td>1</td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="UnitPriceFormControlInput1">Unit price</label> <input class="form-control" id="UnitPriceFormControlInput1" type="text" value="$5.00">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="SubTotalFormControlInput1">Unit price</label> <input class="form-control" id="SubTotalFormControlInput1" type="text" value="$260.00">
                                                    </div>
                                                </td>
                                                <td class="table-icons"><a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-2x fa-cut text-secondary"></i><i class="fas fa-2x fa-money-bill-alt text-secondary"></i></a></td>
                                                <td class="table-icons"><i class="fas fa-2x fa-edit text-secondary mr-3"></i><i class="fas fa-2x fa-times-circle text-red"></i></td>
                                            </tr>
                                            <tr><td colspan="7"><h3>Services and Extras</h3></td></tr>
                                            <tr>
                                                <td>Full Groom</td>
                                                <td></td>
                                                <td>1</td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="UnitPriceFormControlInput2">Unit price</label> <input class="form-control" id="UnitPriceFormControlInput2" type="text" value="$35.00">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="SubTotalFormControlInput2">Unit price</label> <input class="form-control" id="SubTotalFormControlInput2" type="text" value="$35.00">
                                                    </div>
                                                </td>
                                                <td class="table-icons"><i class="fas fa-2x fa-cut text-secondary"></i><i class="fas fa-2x fa-money-bill-alt text-secondary"></i></td>
                                                <td class="table-icons"><i class="fas fa-2x fa-edit text-secondary mr-3"></i><i class="fas fa-2x fa-times-circle text-red"></i></td>
                                            </tr>
                                            <tr>
                                                <td>Departure Day Treat</td>
                                                <td><button class="btn btn-outline-blue btn-sm" type="button">Waive</button></td>
                                                <td>1</td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="UnitPriceFormControlInput3">Unit price</label> <input class="form-control" id="UnitPriceFormControlInput3" type="text" value="$8.00">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="SubTotalFormControlInput3">Unit price</label> <input class="form-control" id="SubTotalFormControlInput3" type="text" value="$8.00">
                                                    </div>
                                                </td>
                                                <td class="table-icons"><i class="fas fa-2x fa-cut text-secondary"></i><i class="fas fa-2x fa-money-bill-alt text-secondary"></i></td>
                                                <td class="table-icons"><i class="fas fa-2x fa-edit text-secondary mr-3"></i><i class="fas fa-2x fa-times-circle text-red"></i></td>
                                            </tr>
                                            <tr class="invoice-sub"><td colspan="4">Sub total</td><td>$311.00</td><td></td><td></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card inner-cards mb-3 sales">
                                <div class="card-body">
                                    <table class="table table-borderless invoice" role="presentation">
                                        <tbody>
                                            <tr><td colspan="4"><h3>Pet and client discounts</h3></td><td><i class="fas fa-2x fa-plus-circle text-primary"></i></td></tr>
                                            <tr>
                                                <td>Auto Discount - 50% off full groom with 3+ boarding days</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="DiscountFormControlInput1">Discount</label> <input class="form-control" id="DiscountFormControlInput1" type="text" value="$20.00">
                                                    </div>
                                                </td>
                                                <td><i class="fas fa-2x fa-times-circle text-red"></i></td>
                                            </tr>
                                            <tr>
                                                <td>Military member</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-outline-blue2" type="button">%</button> <button class="btn btn-outline-blue2" type="button">$</button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="DiscountFormControlInput2">Discount</label> <input class="form-control" id="DiscountFormControlInput2" type="text" value="10">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="DiscountFormControlInput3">Discount</label> <input class="form-control" id="DiscountFormControlInput3" type="text" value="$20.00">
                                                    </div>
                                                </td>
                                                <td><i class="fas fa-2x fa-times-circle text-red"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                    <div class="form-row align-items-center">
                                        <div class="col-auto"><h4>Enter coupon code</h4></div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="CouponFormControlInput">Enter coupon code</label> <input class="form-control" id="CouponFormControlInput" type="text" value="10">
                                        </div><div class="col-auto"><button type="button" class="btn btn-primary">Add</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card inner-cards mb-3 sales">
                                        <div class="card-body">

                                            <table class="table table-borderless invoice" role="presentation">
                                                <tbody>
                                                    <tr><td colspan="2"><h3>Add tips</h3> </td><td><i class="fas fa-2x fa-plus-circle text-primary"></i></td></tr>
                                                    <tr>
                                                        <td>
                                                            Tip jar
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <label class="sr-only" for="TipFormControlInput">Tips</label> <input class="form-control" id="TipFormControlInput" type="text" value="$8.00">
                                                            </div>
                                                        </td>
                                                        <td><i class="fas fa-2x fa-times-circle text-red"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="mr-sm-2 sr-only" for="inlineFormEmployeeSelect">Employee</label> <select class="custom-select mr-sm-2" id="inlineFormEmployeeSelect">
                                                                <option selected>
                                                                    Choose...
                                                                </option>
                                                                <option value="1">
                                                                    Barb
                                                                </option>
                                                                <option value="2">
                                                                    Jane
                                                                </option>
                                                                <option value="3">
                                                                    Petre
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <label class="sr-only" for="TipFormControlInput">Tips</label> <input class="form-control" id="TipFormControlInput" type="text" value="$8.00">
                                                            </div>
                                                        </td>
                                                        <td><i class="fas fa-2x fa-times-circle text-red"></i></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card inner-cards mb-3 sales">
                                        <div class="card-body">

                                            <table class="table table-borderless invoice" role="presentation">
                                                <tbody>
                                                    <tr><td colspan="2"><h3>Add outstanding invoices</h3> </td><td><i class="fas fa-2x fa-plus-circle text-primary"></i></td></tr>
                                                    <tr>
                                                        <td>
                                                            Inv #123456 Dec 8, 2018
                                                        </td>
                                                        <td>$410.96</td>
                                                        <td><i class="fas fa-2x fa-times-circle text-red"></i></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card inner-cards mb-3 sales">
                                <div class="card-body">
                                    <h5 class="card-title">Sales suggestions</h5>
                                    <p class="card-text"></p>
                                    <ul class="list-group list-group-flush sales">
                                        <li class="list-group-item">10 day care days package<span>$350.00</span></li>
                                        <li class="list-group-item">20 day care days package<span>$670.00</span></li>
                                        <li class="list-group-item">Morbi leo risus <span>$350.00</span></li>
                                        <li class="list-group-item">Porta ac consectetur ac <span>$350.00</span></li>
                                        <li class="list-group-item">Vestibulum at eros <span>$350.00</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="notesFormControlSelect1">Notes type</label> <select class="form-control" id="notesFormControlSelect1">
                                    <option>
                                        Booking notes
                                    </option>
                                    <option>
                                        Customer notes
                                    </option>
                                    <option>
                                        Grooming notes
                                    </option>
                                    <option>
                                        Training notes
                                    </option>
                                    <option>
                                        Special instructions
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="notesFormControlTextarea1">Example textarea</label>
                                <textarea class="form-control" id="notesFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <table class="table table-borderless mb-3" role="presentation">
                                <thead></thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Sub total</th>
                                        <td>$253.19</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Sales tax</th>
                                        <td>$25.32</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total before tips</th>
                                        <td>$278.51</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tips</th>
                                        <td>$10.00</td>
                                    </tr>
                                    <tr>
                                        <td class="inv-amt border-grey-top" colspan="2">Invoice Amt</td>
                                    </tr>
                                    <tr>
                                        <td class="inv-amt-price" colspan="2">$288.51</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Payments Made or Packages Used</th>
                                        <td class="text-red">-$75.00</td>
                                    </tr>
                                    <tr>
                                        <th class="inv-amt">Balance</th>
                                        <td class=" inv-amt inv-amt-price">$213.51</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Payments received</h3>
                        </div>
                        <div class="col-md-4">
                            <h3>Payment method</h3>
                            <select class="custom-select custom-select-lg mb-3 fr">
                                <option selected>
                                    Cash
                                </option>
                                <option value="1">
                                    Credit card
                                </option>
                                <option value="2">
                                    Two
                                </option>
                                <option value="3">
                                    Three
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-lg btn-primary fr" type="button">Complete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--accordian-->
</div><!-- /container -->