
@{
    ViewBag.Title = "Test";
}
<div class="row bump">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Add Appointment Test
            </div>
            <div class="card-body">
                <!-- Profile -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light bordered">
                            <div class="row">
                                <div class="col-md-3">

                                    Start w/ Service

                                </div>
                                <div class="col-md-3">

                                    Start w/ Pet

                                </div>
                                <div class="col-md-3">



                                </div>
                                <div class="col-md-3">



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
