@model Guid?
@using Paw.Services.Util
@using Paw.Services.Messages.Web.Pets
@{
    Layout = "InputContainer.cshtml";
    
}

@{

    // Only show if provider group is available
    Guid? providerGroupId = (Guid?)this.ViewData["__ProviderGroupId"];
    if (providerGroupId == null)
    {
        return;
    }

    // initial value
    string valueAsString = null;
    string textAsString = null;
    if (this.ViewData.Model != null && this.ViewData.Model.Value != null)
    {
        valueAsString = this.ViewData.Model.Value.ToString();
        textAsString = new GetPetName() {  ProviderGroupId = providerGroupId.Value , PetId = this.ViewData.Model.Value }.ExecuteString();

    }

}

<div>@textAsString</div>

@Html.HiddenFor(x => x)
