

<form action="" class="form-vertical" method="post" role="form" novalidate="novalidate">

    @Html.EditorForModel()

    <div class="row">
        <div class="col-md-3">
            <div class="form-group bump">
                <input type="submit" value="Save" class="btn btn-primary" />

            </div>
        </div>
    </div>
</form>