
@{
    ViewBag.Title = "Test";
}


<div class="bump row">
    <div class="col-3">

        <h3>Grooming</h3>
        <div>
            <a href="/providers/simplereservation/_AddPetService?PetId=2a3e02be-e859-41dc-a7be-805325c63ed1&SkuId=21b20c5d-3526-4b98-b560-a988002834a8" data-target="#commonDialog" data-toggle="modal" class="nav-link"><i class="fas fa-plus"></i> Add Service</a>

        </div>
    </div>
    <div class="col-3">B</div>
    <div class="col-3">C</div>
    <div class="col-3">D</div>
</div>

@section scripts{


}

