/* Pty.pe for Paw Loyalty - Typography */

/* Globals */

body { 
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;  
}

h1, .h1 {
    font-size:2rem;
    font-weight:400;
    color:var(--primary-light);
}

h2, .h2 {
    font-size:1.5rem;    
}

h3, .h3 {
    font-size:1.125rem;    
}

h4, .h4, h5, .h5, h6, .h6 {
    font-size:1rem;    
}


/* Extra font styles */


.small {
    
  font-size: 0.75rem;  
}

.bold {
    font-weight:700;
}


