
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string formTitle = this.ViewData["FormTitle"] as string;

    if (string.IsNullOrEmpty(formTitle))
    {
        formTitle = this.ViewData.ModelMetadata.DisplayName;
    }
}

<div class="row big-bump justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                @formTitle
            </div>
            <div class="card-body">
                @Html.Partial("Form")
            </div>
        </div>
    </div>
</div>

@section Styles
{

}

@section Scripts
{

}