@model DHTMLX.Scheduler.DHXScheduler
@{

    ViewBag.Title = "Block Test";
}

<div style="width: 100%; height: 15000px; margin: 0 auto;">

    @Html.Raw(this.Model.Render())
</div>


@section scripts  {


}
